/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Margarine|Sniglet');
body, html {
	height: 100%;
	width: 100%;
}
body { /* General style rules for the body section */
	color: yellow;
	font-family:'Lobster', cursive;
	text-align: center;

}

body {
  background-image: url("image/laa.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}



body {
  background-image: url("image/hu.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding:
}

#navbar{
	font-size: 3em;
	padding: 10px;

}

#navbar1{
	font-size: 3em;

}

/*#navbar1{
	font-size: 2em;
	padding-top: 10px;

}*/
a:visited{color:pink;}

a:hover{
	color: #00bff3;
	background-color:pink; }

a:active{
	color:#f1fafa;
	background-color: #00bff3;}

h1 {
	 color:pink;
	text-decoration:center;
	font-size: 90px;
}

.page_image{
	max-width: 30%;
	height:auto;
	border-radius: 50%;
	border: 5px solid yellow;
}

/*.page_image1{
	border: 5px solid yellow;
	border-radius: 30%;
	max-width: 80%;
	float: left;
	margin-left: -170%;
	margin-top: -5%;
}*/

#gallery1 div{
	text-align:justify;
	display:inline-block;
  margin-left: 10%;
	margin-top: -3%;

}

#gallery1 div a{
	color: yellow;

}



#gallery div{

		float: right;
    padding-left: 400px;
	}

#gallery div a{
	color:yellow;
}

#gallery2 img{
margin-top: -50%;
	margin-right: 50%;

}

p{
	font-size: 3em;
	color: lightblue;


}



/*.small-font {
	font-size: 25px;
}*/

#div1 {
/*	background-color: gray;*/

	color:purple;
	margin: 0%;
	padding: 6px;
	font-size: 50px;

}


#div2 {
/*	background-color: skyblue;*/
		/*margin: 5%;
			padding: 6px;
			float: left;
			width: 20%;
}*/
/*#div3{
	background-color: pink;
		margin: 5%;
			padding: 6px;
			float:right;
			width: 50%;
}*/
#div4{
	background-color: black;
		margin: 5%;
			padding: 6px;
			clear: both;
}


#center-me{

	position:relative;
	left:60%;
	top: 60%;

}

#move{
	margin: 30%
	float:inherit;
}





h3 { /* Matches elements with h3 tag */
	color: white;
}
/*h2{
	color: yellow;
	text-decoration: line-through;
}
h4{
	color:orange;
text-decoration: underline;
}*/
.SimpleDiv { /* Matches element with id=SimpleDiv */
/*	background-color: gray;

	color: hotpink;*/


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
}
