/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Margarine|Sniglet');
body, html {
	height: 100%;
	width: 100%;
}
body { /* General style rules for the body section */
	color: red;
	font-family:'Lobster', cursive;
	text-align: center;

}

body {
  background-image: url(image/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}



body {
  background-image: url("image/photo.png");
  background-repeat: no-repeat;
  background-size: cover;

}

#navbar{
	font-size: 2em;
	padding: 10px;

}

#navbar1{
	font-size: 2em;
	padding-top: 10px;

}
a:visited{color:pink;}

a:hover{
	color: #00bff3;
	background-color:#f1fafa; }

a:active{
	color:#f1fafa;
	background-color: #00bff3;}

h1 {
	 color:pink;
	text-decoration:;
	font-size: 90px;
}

.page_image{
	max-width: 30%;
	height:auto;
}

#gallery div{

		float: right;
    padding-left: 400px;
	}

#gallery div a{
	color:yellow;
}



/*.small-font {
	font-size: 25px;
}*/

#div1 {
/*	background-color: gray;*/

	color:pink;
	margin: 5%;
	padding: 6px;
}


#div2 {
/*	background-color: skyblue;*/
		/*margin: 5%;
			padding: 6px;
			float: left;
			width: 20%;
}*/
/*#div3{
	background-color: pink;
		margin: 5%;
			padding: 6px;
			float:right;
			width: 50%;
}*/
#div4{
	background-color: black;
		margin: 5%;
			padding: 6px;
			clear: both;
}


#center-me{
	position: absolute;
	left: 40%;
	top: 40%;
}

h3 { /* Matches elements with h3 tag */
	color: white;
}
/*h2{
	color: yellow;
	text-decoration: line-through;
}
h4{
	color:orange;
text-decoration: underline;
}*/
.SimpleDiv { /* Matches element with id=SimpleDiv */
/*	background-color: gray;

	color: hotpink;*/


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
}
